<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to CP API System</h1>
    <h1>Here you can do full CRUD operation   <a href="/add">Add Data</a></h1>
    <br><br>
    <% for(let c of data) {%>
        <h3><%= c.id %> --- <%= c.username %> <a href="/<%= c.id %>">Details</a></h3> 
        <% } %> 
</body>
</html>